<section class="container">
  <div class="login">
    <div class="login__img"></div>
    <div class="login__form">
      <form>
        <label><i class="bi bi-person-circle"></i> Login</label>
        <div class="login__input">
          <input type="text" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <button>Ingresar</button>
        </div>
        <label class="login_regis"
          >¿No tienes cuenta? <a [routerLink]="['/register']">
           Registrarte
       </a></label
        >
      </form>
    </div>
  </div>
</section>
