<section class="container">
  <div class="login">
    <div class="register">
      <form>
        <label><i class="bi bi-person-circle"></i> Login</label>

        <input type="text" placeholder="Nombre" />
        <input type="text" placeholder="Apellido" />

        <input type="text" placeholder="Email" />
        <input type="password" placeholder="Password" />

        
        <div class="buttons">
          <button [routerLink]="['/login']" >Regresar</button>
          <button>Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</section>
