<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <img class="small_img" src="../assets/logo_small.png" alt="logo" />
</mat-toolbar>

<mat-sidenav-container>
  
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

    <h4 class="name">{{userSe.name_user}} {{userSe.lastname_user}}</h4>
    <p class="designation">{{userSe.email_user}}</p>

    <mat-divider></mat-divider>

    <select class="options-panel" name="OS">
      <option *ngIf="proyects.length == 0" selected value="0">No hay proyectos</option>

      <option *ngFor="let item of proyects" value="1">{{item.name_project}}</option>
      
    </select>

    <mat-divider></mat-divider>

    <button class="options-panel">
      <mat-icon class="icon">control_point</mat-icon>
        New Project
    </button>

    <mat-divider></mat-divider>

   
      <button class="options-panel" (click)="exitSesion()">
        <mat-icon class="icon">exit_to_app</mat-icon>
          <span>Exit</span>
      </button>
   

</mat-sidenav>


  <mat-sidenav-content>
    <div class="mat-elevation-z8">
      <app-homeworks></app-homeworks>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
